body {
    font-family: sans-serif;
}
body {
    font-family: sans-serif;
}

body {
    font-family: sans-serif;
}
body {
background-color:#62B1D0;
}
header {
}
h1 {
text-align:center;
color:#FF2C00;
}
.link-nav {
opacity:0.5;
}
.link-nav:hover {
opacity:1
}



